@import 'https://bootswatch.com/4/lux/bootstrap.min.css';

.movies-area {
  justify-content: space-around;
  align-items: flex-start;
}
  
#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

.jumbotron {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

input#searchText {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.col-movie {
  margin: 5px 0 15px 0;

}

.list-group-item:nth-child(odd) {
background: #efefef;
}